body{
  font-family: 'Comfortaa', cursive;
}

/* NAVBAR */

.navbar{
  height: 90px;
  display: flex;
  background-color: red;
  color: white;
}

.logo{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo h1{
  padding-top: 15px;
}

.nav-menu{
  width: 60%;
  text-align: right;
}

.nav-menu li{
  display: flex;
  list-style: none;
  float: right;
  margin: 0% 2%;
  text-decoration: none;
  border: solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

/* INTRO SECTION */

.calvin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro{
  width: 50%;
  padding: 10%;
}

.intro h2{
  font-size: 18px;
}

.calvin-photo{
  width: 50%;
  padding: 5%;
}

.calvin-photo img{
  border-radius: 20px;
}

/* BIO SECTION */

.bio-section{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bio{
  background-color: red;
  color: white;
  height: 100%;
  border-radius: 25px;
  width: 98%;
  padding: 3%;
}

.bio h1{
  text-align: center;
}

.bio p{
  font-size: 22px;
  text-align: center;
}

/* BEST WORK SECTION */


.best-work-section h1{
  text-align: center;
  padding-top: 3%;
}

.best-work{
  width: 98%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-1, .row-2{
  width: 80%;
}

.row-1 img, .row-2 img{
  width: 50%;
  height: 550px;
  border-radius: 100px;
  padding: 50px;
}


/* LOCATION SECTION */

.location{
  display: flex;
  flex-direction: row;
}

.location-info{
  width: 50%;
  padding: 10%;
}

.location-info h2{
  font-size: 20px;
}

.arch{
  width: 50%;
  padding: 2%;
}

.arch img{
  width: 100%;
  border-radius: 5%;
}

/* FOOTER */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
  height: 70px;
  color: white;
  padding: 15px;
}

.footer h1{
  font-size: 24px;
  padding: 10px;
}

.footer img{
  padding: 5px;
}

/* HAIRSTYLES */

.hairstyle-options h1{
  text-align: center;
  padding-top: 50px;
}

.hairstyle-photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hairstyle-photos .card{
  width: 18em;
  margin: 50px;
}

.card img {
  max-height: 300px;
}

.card .btn{
  background-color: green;
  border-color: green;
}

.card .btn :hover {
  background-color: darkgreen;
}

.card .btn :active {
  background-color: darkgreen;
}
